@import "node_modules/bootstrap/scss/bootstrap";
.page-icon{
  height: 1.5rem !important; 
  width: 1.5rem !important
}

*{
  font-family: MPLUS1;
}

.page-header{
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  font-weight: 550;
}