@import "node_modules/bootstrap/scss/bootstrap";

.nav-icon{
  height: 2.5rem !important; 
  width: 2.5rem !important
}

.navbar {
  position: fixed;
  bottom: 0 ;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}
.justify-content-center .nav-link {
  margin: 0 2rem; /* Adjust the value based on your preference */
}


