.justify-content-center {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.justify-content-center .nav-link {
    margin: 0 20px; /* Adjust the value based on your preference */
  }
