@import "node_modules/bootstrap/scss/bootstrap";

.nav-icon{
  height: 2.5rem !important; 
  width: 2.5rem !important;
  color: white !important
  
}

.navbar{
  position: fixed;
  bottom: 0 ;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  flex-shrink: 0;
  background: linear-gradient(129deg, #F65858 8.83%, #F3C44B 77.85%), #D9D9D9;;
}
.nav-link {
  margin: 0 2rem; /* Adjust the value based on your preference */
  color: white
}

