/* Info.scss */

.vh-100 {
     min-height: 100vh;
}

.gradient-custom-light {
     /* Your gradient styles here */
     background: linear-gradient(
          to right,
          rgba(255, 255, 255, 1),
          rgba(255, 255, 255, 1)
     );
}

.container {
     max-width: 600px;
}

.card {
     border-radius: 1rem;
}

.card-body {
     padding: 2rem;
}

.form-outline {
     position: relative;
     margin-bottom: 1.5rem; /* Added space between form labels and input fields */
}

.form-control {
     background-color: transparent;
     border: none;
     border-bottom: 1px solid black; /* Adjusted border color for better visibility */
     border-radius: 0;
     color: black; /* Adjusted text color for better visibility */
     outline: none;
}

.form-label {
     // position: absolute;
     // top: 10px;
     // left: 0;
     transition: 0.2s;
     color: black; /* Adjusted color property for form labels */
}

.form-control:focus ~ .form-label,
.form-control:not(:placeholder-shown) ~ .form-label {
     top: -15px;
     font-size: 12px;
}

.btn-outline-dark {
     border-color: black; /* Adjusted border color for the button */
     color: black; /* Adjusted text color for the button */
}

.btn-outline-dark:hover {
     background-color: black;
     color: white; /* Adjusted text color on hover for better visibility */
}

.form-check {
     margin-bottom: 1rem; /* Added space between form-check elements */
}

.form-check-input {
     margin-right: 0.5rem; /* Adjusted spacing between radio buttons and labels */
}

#otherText {
     display: none; /* Hide text box by default */
}

/* Adjust the styles based on your design preferences */
