@import "node_modules/bootstrap/scss/bootstrap";
@import './components/WorkoutCard.scss';
@import './components/NavHeader.scss';

.gradient-header-background{
    background: linear-gradient(167deg, #F65858 5.13%, #F3C44B 359.94%);
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    padding-left: 5%;
    top:0;
    position:fixed;
    width: 100%;
}

html, body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

*{
  font-family: montserrat;
}

@font-face {
  font-family: MPLUS1;
  src: url(MPLUS1-VariableFont_wght.ttf);
}

@font-face {
  font-family: montserrat;
  src: url(Montserrat-VariableFont_wght.ttf);
}